%tr(id="question-#{question.id}")
  %td= question.type.capitalize
  %td= question.text
  %td
    - if question.choices?
      - question.choices.select(&:present?).each do |choice|
        %span.badge= choice
  %td
    = link_to 'Edit', edit_question_path(question, :format => :js), :class => 'btn', :remote => true
    = link_to 'Delete', question_path(question), :class => 'btn', :method => :delete, :confirm => 'Are you sure?', :remote => true
