- f.object.choices.each do |choice|
  - question = choice.question
  = f.fields_for :choices, choice do |choice_fields|
    = choice_fields.hidden_field :question_id
    %p
      .question= question.text
      - if question.choices?
        - question.choices.each do |value|
          = choice_fields.check_box :suggested_value, {:multiple => true}, value, nil
          = value.capitalize
      - else
        = choice_fields.text_field :suggested_value
