.question(id="question-#{index}")
  %h4 Question
  - if f.object.new_record?
    %p= link_to_delete_question 'Delete question', index, :class => 'btn btn-small'
  - else
    %p
      = f.check_box :_destroy, {}, true, false
      Destroy question
  - if (errors = f.object.errors.full_messages).present?
    %p.errors
      - errors.each do |error|
        .error= error
  = f.label :text
  = f.text_field :text
  %p
    = f.label :type, 'Answer type'
    - Question.types.keys.each do |type|
      = f.radio_button :type, type, :checked => (type == f.object.type), :id => "#{type}-#{index}"
      - if type == :choices
        = link_to 'Choices', "#question-#{index}-choices-modal", :data => {:toggle => 'modal'}, :class => "select-#{index}"
      - else
        = type.capitalize
  %p
    = f.label :correct_answer
    = f.text_field :correct_answer
  %p
    .modal.hide(id="question-#{index}-choices-modal")
      .modal-header
        %h3 Manage choices
      .modal-body
        = f.label :choices, :class => 'hide'
        .choices(id="choices-#{index}")
          - if f.object.choices.present?
            - f.object.choices.each do |choice|
              .choice
                = f.text_field :choices, :multiple => true, :value => choice
                = link_to_delete_choice 'Delete', :class => 'btn'
      .modal-footer
        = link_to_add_choice 'Add choice', index, :class => 'btn' do
          .choice
            = f.text_field :choices, :multiple => true, :value => ''
            = link_to_delete_choice 'Delete', :class => 'btn'
        = link_to 'Close', '#', :data => {:dismiss => 'modal'}, :class => 'btn'
:javascript
  $('a.select-#{index}').click(function() {
    $('input#choices-#{index}').prop('checked', true);
  });
  $('input#choices-#{index}').click(function() {
    $('#question-#{index}-choices-modal').modal('show');
  });
