$('#edit-trial-#{@trial.id}-modal').modal('hide');
$('#edit-trial-#{@trial.id}-modal').remove();
- if @trial.errors.present?
  $('body').append("#{escape_javascript(render :partial => 'trials/edit', :locals => {:trial => @trial})}");
  $('#edit-trial-#{@trial.id}-modal').modal('show');
- else
  $('#trial-#{@trial.id}').replaceWith('#{escape_javascript(render :partial => 'trials/trial', :object => @trial)}');
