= form_for [:admin, @trial] do |f|
  - if (errors = f.object.errors.full_messages).present?
    %ul.errors
      - errors.each do |error|
        %li= error
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :start_on
    = f.datetime_select :start_on
  %p
    = f.label :stop_on
    = f.datetime_select :stop_on
  %p
    %h3 Questions
    .questions
      - f.object.questions.each_with_index do |question, index|
        = render :partial => 'admin/trials/question', :object => question, :locals => {:f => f, :index => index}
    = link_to_add_question 'Add question', :class => 'btn' do
      = render :partial => 'admin/trials/question', :object => Question.new, :locals => {:f => f, :index => 'index_to_replace'}
  %p
    = f.submit 'Save', :class => 'btn btn-success btn-large'
