.modal.hide(id="patient-#{@patient.id}-modal")
  .modal-header
    %h3 #{@patient.trial.try :name} &raquo; #{@patient.name}
  .modal-body
    %p= @patient.name
    %p= @patient.mobile
    %p= @patient.email
    %p= @patient.trial.try :name
    %p
      Eligible:
      = @patient.eligible
    %table.choices.table.table-hover
      %thead
        %th Question
        %th Patient answer
        %th Correct answer
      %tbody
        - @patient.questions.all.each do |question|
          %tr
            %td= question.text
            %td= question.patient_answer
            %th= question.correct_answer
  .modal-footer
    = link_to 'Close', '#', :class => 'btn', :data => {:dismiss => 'modal'}
